{% layout "layout.liquid" %} {% block content %}
<div class="container-sm">
  <form action="/fruits/{{fruit._id}}?_method=PUT" method="post">
    <fieldset>
      <legend>Edit New Fruit</legend>
      <label class="form-label">
        NAME:</label>
        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="enter fruit name"
          value="{{fruit.name}}"
        />
      <label class="form-label">
        COLOR:
        </label>
        <input
          type="text"
          name="color"
          class="form-control"
          placeholder="enter fruit name"
          value="{{fruit.color}}"
        />
      <label class="form-label">
        READY TO EAT:
        </label>
        <input type="checkbox" class="form-check-input" name="readyToEat" 
        {% if fruit.readyToEat == true %} checked {% endif %} />
    </fieldset>
    <input type="submit" value="Edit {{fruit.name}}" />
  </form>
</div>
{% endblock %}